<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RECOMMENDATION SYSTEM</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header>
        <img src="{{ url_for('static', filename='logo.png') }}" alt="Logo UC3M">
        <div class="header-content">
            <a href="{{ url_for('index') }}" class="recommendation-text">Recommendation System</a>
            <div class="header-rectangle"></div>
        </div>
    </header>


    <h1>SELECT A RESEARCHER FOR OBTAINING RECOMMENDATIONS:</h1>

    <div id="formsContainer">

        <form id="departmentForm" method="post">
            <label for="department">Select a Department:</label>
            <select name="department" id="department">
                <option value="Computer Science and Engineering">Computer Science and Engineering</option>
                <option value="Business Administration">Business Administration</option>
                <option value="Social Sciences">Social Sciences</option>
                <option value="Economics">Economics</option>
                <option value="Communication Studies">Communication Studies</option>
                <option value="Signal Theory and Communications">Signal Theory and Communications</option>
                <option value="Mathematics">Mathematics</option>
                <option value="Mechanical Engineering">Mechanical Engineering</option>
                <option value="Electronic Technology">Electronic Technology</option>
                <option value="Aerospace Engineering">Aerospace Engineering</option>
                <option value="Telematic Engineering">Telematic Engineering</option>
                <option value="Materials Science and Engineering and Chemical Engineering">Materials Science and Engineering and Chemical Engineering</option>
                <option value="Thermal and Fluids Engineering">Thermal and Fluids Engineering</option>
                <option value="Systems Engineering and Automation">Systems Engineering and Automation</option>
                <option value="Statistics">Statistics</option>
                <option value="Humanities: History, Geography, and Art">Humanities: History, Geography, and Art</option>
                <option value="Bioengineering">Bioengineering</option>
                <option value="International Law, Ecclesiastical Law and Philosophy of Law">International Law, Ecclesiastical Law and Philosophy of Law</option>
                <option value="Public State Law">Public State Law</option>
                <option value="Humanities: Philosophy, Language, Literature Theory">Humanities: Philosophy, Language, Literature Theory</option>
                <option value="Physics">Physics</option>
                <option value="Private Law">Private Law</option>
                <option value="Continuum Mechanics and Structural Analysis">Continuum Mechanics and Structural Analysis</option>
                <option value="Library and Information Science">Library and Information Science</option>
                <option value="Private Social and International Law">Private Social and International Law</option>
                <option value="Criminal Law, Procedural Law and History Law">Criminal Law, Procedural Law and History Law</option>
                <option value="Electrical Engineering">Electrical Engineering</option>
                <option value="Social Analysis">Social Analysis</option>
            </select>

        <label for="search">Filter by Researcher Name:</label>
        <input type="text" id="search" name="search" oninput="searchResearcher(this.value)">
    </div>

    {% if researchers %}
        {% if request.form.get('department') %}
            <h2 id="textDepartment">Researchers for the given department:</h2>
        {% else %}

        {% endif %}
        <ul id="researcherList">
            {% for researcher in researchers %}
            <li><a href="{{ url_for('researcher_detail', researcher=researcher['invID']) }}">{{ researcher['Name'] }}</a></li>
            {% endfor %}
        </ul>
    {% endif %}



</body>

<script>
    // Obtener el elemento select y el formulario
    var departmentSelect = document.getElementById('department');
    var departmentForm = document.getElementById('departmentForm');
    var textDepartment = document.getElementById('textDepartment');

    // Cuando se cambia la selección, almacenar el valor en el almacenamiento local
    departmentSelect.addEventListener('change', function() {
        localStorage.setItem('departmentSeleccionado', departmentSelect.value);
        // Enviar el formulario automáticamente
        departmentForm.submit();
    });

    // Cuando se carga la página, restaurar la selección anterior si existe
    window.onload = function() {
        var departmentSeleccionado = localStorage.getItem('departmentSeleccionado');
        if (departmentSeleccionado) {
            departmentSelect.value = departmentSeleccionado;
            
            //update text
            textDepartment.textContent = "Researchers of " + departmentSelect.options[departmentSelect.selectedIndex].text + " department:";

        }
    };

    function searchResearcher(keyword) {
    // Obtener la lista de investigadores y el contenedor
    var researcherList = document.getElementById('researcherList');
    var researchers = researcherList.getElementsByTagName('li');

    // Convertir el texto de búsqueda a minúsculas para una comparación insensible a mayúsculas y minúsculas
    keyword = keyword.toLowerCase();

    // Iterar sobre los investigadores y mostrar solo los que coinciden con el texto de búsqueda
    for (var i = 0; i < researchers.length; i++) {
        var researcher = researchers[i];
        var name = researcher.textContent || researcher.innerText; // Obtener el texto del investigador

        // Comparar el texto del investigador con el texto de búsqueda
        if (name.toLowerCase().includes(keyword)) {
            researcher.style.display = ''; // Mostrar el investigador si coincide
        } else {
            researcher.style.display = 'none'; // Ocultar el investigador si no coincide
        }
    }
}
</script>
</html>
